/* General calculator styles */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #6b6b94;
}

.calculator {
    display: grid;
    grid-template-rows: 1fr 4fr;
    width: 300px;
    height: 400px;
    background-color: #1507d8;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(255, 34, 34, 0.3);
}

.display {
    background-color: #ff0000;
    color: #fff;
    font-size: 2.5rem;
    padding: 20px;
    text-align: right;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 20px;
}

button {
    background-color: #444;
    color: white;
    border: none;
    font-size: 1.5rem;
    border-radius: 10
}